<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>IP 2 VM</title>
</head>
<body>
<div align="center" style="padding-top:20px">
<form method='post'>
{{form}}
</p>
{% if msg %}
<table border="1" cellpadding="5">
<tr>
    <td align="center">KVM宿主机</td>
    <td align="center">虚拟机名</td>
    <td align="center">所查IP</td>
</tr>
<tr>
    <td align="center">{{msg.0}}</td>
    <td align="center">{{msg.1}}</td>
    <td align="center">{{msg.2}}</td>
</tr>
</table>
{% endif %}
</p>
<input type="submit" value="ok" >
</p>
<a href="/vmnametoip">虚拟机名查询IP请点击这里</a>
</form>
</div>
</body>
</html>
